body {
    background-image: url("./images/bg.jpg");
}

@keyframes color-changer {
    0% {
        color: white;
    }

    25% {
        color: green;
    }

    50% {
        color: yellow;
    }

    75% {
        color: blue;
    }

    100% {
        color: white;
    }
}


@keyframes fishMovement {
    0% {
        transform: translate(80, 10vw);
    }

    25% {
        transform: translate(20vw, 30vw);
        animation-timing-function: ease-in;
    }

    50% {
        transform: translate(80vw, 40vw);
        animation-timing-function: ease-in;
    }

    75% {
        transform: translate(30vw, 40vw);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translate(80vw, 10vw);
        animation-timing-function: ease-in;
    }
}


@keyframes fishMovement2 {
    0% {
        transform: translate(0vw, 10vw);
    }

    10% {}

    25% {
        transform: translate(20vw, 0vw);
        transform: scaleX(-1);
        transition: 0s;
    }

    50% {
        transform: translate(10vw, 10vw);
    }

    75% {
        transform: translate(60vw, 0vw);
    }

    90% {
        transform: translate(40vw, 30vw);
    }

    100% {
        transform: translate(0vw, 10vw);
    }
}

@keyframes fishMovement2 {
    0% {
        transform: translate(0vw, 10vw);
    }

    25% {
        transform: translate(20vw, 0vw);
    }

    50% {
        transform: translate(10vw, 10vw);
    }

    75% {
        transform: translate(60vw, 0vw);
    }

    90% {
        transform: translate(40vw, 30vw);
    }

    100% {
        transform: translate(0vw, 10vw);
    }
}

@keyframes fishMovement3 {
    0% {
        transform: translate(40vw, 10vw);
    }

    25% {
        transform: translate(40vw, 0vw);
    }

    50% {
        transform: translate(60vw, 10vw);
    }

    75% {
        transform: translate(30vw, 0vw);
    }

    90% {
        transform: translate(60vw, 30vw);
    }

    100% {
        transform: translate(40vw, 10vw);
    }
}

@keyframes sharkMovement {
    0% {
        transform: translate(0vw, 40vw);
    }

    15% {
        transform: translate(24vw, 40vw);
    }

    25% {
        transform: translate(40vw, 40vw);
    }

    50% {
        transform: translate(80vw, 40vw);
    }

    75% {
        transform: translate(40vw, 40vw);
    }

    90% {
        transform: translate(24vw, 40vw);
    }

    100% {
        transform: translate(0vw, 40vw);
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.color-changer {
    color: white;
    animation-name: color-changer;
    animation-duration: 8s;
    position: absolute;
    animation-iteration-count: infinite;
    margin-top: 180px;
    font-size: 6vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.fish1 {
    width: 20%;
    z-index: 2;
    position: absolute;
    animation-name: fishMovement;
    animation-duration: 38s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.fish2 {
    width: 20%;
    z-index: 3;
    position: absolute;
    animation-name: fishMovement2;
    animation-duration: 26s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.fish3 {
    width: 20%;
    z-index: 4;
    position: absolute;
    animation-name: fishMovement3;
    animation-duration: 20s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}


.fish4 {
    width: 10%;
    z-index: 5;
    position: absolute;
    animation-name: fishMovement3;
    animation-duration: 25s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

.fish5 {
    width: 10%;
    z-index: 5;
    position: absolute;
    animation-name: fishMovement;
    animation-duration: 35s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}


.shark {
    width: 20%;
    z-index: 6;
    position: absolute;
    animation-name: sharkMovement;
    animation-duration: 25s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    transform: scaleX(-1);
}